[credential "dev.azure.com"]
  provider = azure-repos

[alias]
  cleanup = "!git branch --merged | grep  -v '\\*\\|main\\|master\\|develop' | xargs -n 1 -r git branch -d"

[diff]
	tool = meld

[merge]
	tool = meld
	default = current
[pull]
	rebase = true

[commit]
	gpgsign = true

[mergetool]
  prompt = false

[mergetool "meld"]
  cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	path = /usr/local/bin/meld

[difftool]
	prompt = false

[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
	path = /usr/local/bin/meld

[core]
  excludesfile = .gitignore

[include]
  path = .git/.gitconfig-user

[gpg]
	program = gpg

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

